@font-face {
    font-family: 'UIElements';
    src: url('../assets/fonts/Boogaloo-Regular.ttf');
}

* {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    touch-action: manipulation;
}

body {
    margin: 0;
    font-family: 'UIElements';
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-image: url(../assets/img/background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

dialog {
    width: 50%;
    text-align: center;
}

nav {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
}

.nav-btn {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.link {
    color: white;
}

.d-none {
    display: none !important;
}

.flex {
    display: flex;
}

h1 {
    font-size: 4rem;
    color: white;
    text-align: center;
}

.title {
    color: white;
    -webkit-text-stroke: 1px brown;
    margin-block: 0;
    font-size: 5rem;
    text-shadow: 7px 2px 9px #000000;
}

h2 {
    font-size: 2rem;
    color: white;
}

canvas {
    width: 720px;
    height: 480px;
    background-color: black;
    border-radius: 8px;
    display: block;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    width: 720px;
    height: 480px;
}

.titlescreen {
    width: 100%;
    height: 100%;
}

@media (max-width: 720px) {

    canvas,
    .overlay {
        width: 100dvw;
    }
}

@media (max-height: 480px) {
    h1 {
        display: none;
    }

    canvas,
    .overlay {
        height: 100dvh;
    }
}

/* Basic Game Overlay */

#game {
    position: relative;
    user-select: none;
}

#game.fullscreen {
    display: flex;
    justify-content: center;
}

.gameover-bar {
    display: flex;
    position: absolute;
    bottom: 32px;
    transform: translateX(-50%);
    left: 50%;
    flex-direction: column;
    gap: 8px;
}

.no-select {
    user-select: none;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    filter: brightness(1.1);
    scale: 1.1;
}

.nav.btn {
    width: 30% !important;
    height: auto !important;
    cursor: pointer;
}

/* Touch Controls */

.controls.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

.overlay .top {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    padding-right: 16px;
    gap: 8px;
}

.overlay .bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 0 16px;
}

.control-icon {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: unset;
    cursor: pointer;
}

.control-icon.touched {
    filter: brightness(0.8);
}

.pause-btn {
    background-image: url('../assets/img/controls/pause.png');
    background-size: contain;
}

.audio-btn {
    background-image: url('../assets/img/controls/audio_active.png');
    background-size: contain;
}

.audio-btn.muted {
    background-image: url('../assets/img/controls/audio_muted.png');
    background-size: contain;
}

.fullscreen-btn {
    background-image: url('../assets/img/controls/fullscreen.png');
    background-size: contain;
}

.titlescreen .mainscreen,
.gameoverscreen {
    height: 100%;
    width: 100%;
}

.score__heading {
    color: black;
}

.final-screen {
    background: rgba(255, 255, 255, 0.9);
    color: black;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

.final-image {
    width: 100%;
    height: 100%;
}

.highscores,
.howtoplay {
    position: absolute;
    top: 22%;
    padding: 0 32px;
    min-width: 100%;
    /* height: clamp(100px, 100%, 290px); */
    height: 70%;
    overflow-y: auto;
    background-color: rgba(250, 235, 215, 0.8);
    box-sizing: border-box;
}

form {
    padding: 16px 0;
}

.score th:first-child,
.score td:first-child {
    text-align: right;
    width: 50%;
}

.submit-btn {
    background-image: url('../assets/img/controls/submit.png');
    width: 20%;
    height: 30px;
}

.score th:nth-child(2),
.score td:nth-child(2) {
    text-align: left;
    padding-left: 32px;
}

.manual-wrapper {
    display: flex;
    justify-content: space-around;
}

.manual__icon {
    height: clamp(40px, 50%, 50px);
    width: clamp(40px, 50%, 50px);
}

.manual__left-page {
    width: 50%;
    border-right: 1px solid black;
    padding-right: 16px;
}

.manual__right-page {
    width: 50%;
    padding-left: 16px;
}

.manual__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manual__function {
    font-size: 1.25rem;
}

.manual__button {
    flex: 1;
}

.control-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

.highscores h2,
.howtoplay h2 {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    margin-block-end: 0.5em;
}

h3 {
    margin-block: 0.5em;
    text-align: center;
}

menu {
    position: absolute;
    top: 16px;
    display: flex;
    justify-content: center;
    padding: 0;

}

menu img {
    height: 100% !important;
    width: 30% !important;
}

menu img:hover {
    filter: brightness(1.1);
    scale: 1.1;
}

.endscreen-btn {
    height: 40px;
}

input[type="text"] {
    border-radius: 16px;
    padding: 4px 8px;
    background: transparent;
    border: 1px solid saddlebrown;
}

button[type="submit"] {
    border-radius: 16px;
    height: 25px;
    border: 1px solid saddlebrown;
}

@media (pointer: fine) {
    .overlay .bottom {
        display: none;
    }
}