@font-face {
    font-family: 'UIElements';
    src: url('../fonts/Boogaloo-Regular.ttf');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: black;
}